
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border-collapse: collapse;
  font-weight: 100;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 200px auto;
  overflow-x: hidden;
}
/*-------sticky header section-------*/

.stickyHeader{
  display: none;
}



/*-------sidebar section-------*/

.sidebar{

}

nav {
  height: 100vh;
  width:200px;
  position:fixed;
  background-color: rgb(255,255,255);
  display: grid;
  grid-template-rows: 30% 70%;
  min-height: 700px;
  box-shadow: 1px 0px  2px rgba(66,66,66,0.1);
  z-index: 1;
}

.logo{
  display: grid;
  width: 200px;
  grid-template-rows: auto 30px;
  align-content: center;
  justify-content: center;
}

.logo img{
  height: 150px;
  margin: auto;
}

.logo span {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.menu{
  margin-top: 20px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.menu a{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 45px auto;
  align-items: center;
  transition: 0.2s;
}

.menu a:nth-child(1){
  border-left: 0px solid rgb(81,198,217);
}
.menu a:nth-child(2){
  border-left: 0px solid rgb(255,99,71);
}
.menu a:nth-child(3){
  border-left: 0px solid rgb(72,61,139);
}
.menu a:nth-child(4){
  border-left: 0px solid rgb(0,128,128);
}
.menu a:nth-child(5){
  border-left: 0px solid rgb(252,155,25);
}
.menu a:nth-child(6){
  border-left: 0px solid rgb(68,68,68);
}

.menu a:hover{
  background: rgba(68,68,68, 0.1);
  border-width: 3px;
  padding-left: 23px;
}

.activeMenu{
  background: rgba(68,68,68, 0.1);
  border-width: 3px !important;
  padding-left: 23px !important;
}

.menu span {
  color: black;
}

.menuIcon {
  font-size: 25px;
}

.fa-user{
    color:rgb(81,198,217);
}
.fa-graduation-cap{
  color:rgb(72,61,139);
}
.fa-cog{
  color: rgb(255,99,71);
}
.fa-code{
  color:rgb(0,128,128);
}
.fa-envelope{
  color:rgb(252,155,25);
}
.fa-file-alt{
  color:rgb(68,68,68);
}

/*-------main section-------*/

main {
  width: 100%;
}

/*-------Typing Home section-------*/

.home {
  min-height: 100vh;
  background-image: url("images/background (3).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.typingEffect{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typingContainer{
  font-size: 40px;
  letter-spacing: 2px;
  color:rgba(68,68,68,1);
}
.typingEffect .typed-cursor {
  font-size: 50px;
  color:rgba(68,68,68,1);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

/*-------about section-------*/

.about{
  background-color: white;
  min-height: 100vh;
  color: white;
  display: grid;
  grid-template-rows: 70px 80vh;
}

.aboutHeader{
  background-color: rgba(81,198,217, 1);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.aboutHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}


.aboutIcons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.aboutContainer{
  color:rgba(68,68,68, 1);
}

.aboutContainer h3{
  font-weight: 500;
}

.aboutBackground{
  text-align: center;
  background: rgba(81,198,217, 1);
  display: flex;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.3s;
}

.aboutIcon {
  color: white;
  border-radius: 50%;
  font-size: 70px;
    transition: 0.3s;
}

/*-------projects section-------*/

.projects{
    min-height: 100vh;
    display:grid;
    grid-template-rows: 70px auto;
}

.projectsHeader{
  background-color: rgba(255,99,71, 1);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.projectsHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}

.projectsContent{
/*   rgba(255,99,71, 1) */
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
}

.project {
  height: 180px;
  width: 300px;
  position:relative;
}

.project:hover .overlay{
  height: 100%;
}
.project:hover .overlayText{
 height: auto;
}

.project img {
  width: 300px;
  height: 180px;
}

.overlay{
  background-color: rgba(255,99,71, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayText{
  color: white;
  text-align: center;
}

/*-------certificates section-------*/

.certificates{
  min-height: 100vh;
  display: grid;
  grid-template-rows:auto auto;
}

.certificatesHeader{
  background-color: rgb(72,61,139);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.certificatesHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}
.certificatesContent{
  /*  rgb(72,61,139) */
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  margin: 20px 0;
}
.certificatesColumn{
 flex: 20%;
 max-width: 20%;
 padding-left: 5px;
 padding-right: 5px;
}

.certificatesColumn img{
  width: 100%;
  border: 1px solid rgb(72,61,139);
}



/*-------skills section-------*/


.skills{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px auto;
}

.skillsHeader{
  background-color: rgb(0,128,128);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.skillsHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}

.skillsContent{
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.skillCard{
  background: white;
  border: 1px solid rgb(0,128,128);
  border-radius: 10px;
  width: 80%;
  height: 80%;
  min-height: 400px;
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-content: space-around;
}

.skillCard img{
  width: 100px;
  height: 100px;
}


/*-------contacts section-------*/


.contacts{
  min-height: 300px;
  background: white;
}

.contactsHeader{
  background-color: rgb(252,155,25);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.contactsHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}

.cta{
  text-align: center;
  color: rgb(252,155,25);
  font-size:23px;
}

.cta h4:first-child{
  font-weight: 500;
  text-decoration: underline;

}

.cta h4:last-child{
  font-weight: 100;
}

.socialIcons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons a{
  background: rgb(252,155,25);
  border-radius: 5px;
  margin: 0 5px 15px 5px;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.socialIcon {
  color: white;
  font-size: 30px;
  position:absolute;
}

@keyframes social{
  0% {top:0px}
  50% {top:40px}
  51% {top:-40px}
  100% {top:0px}
}

.socialIcons a:hover .socialIcon {
  animation-name: social;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.socialIcons a:hover {
  background: rgba(252,155,25)
}



/* -----Media Queries----- */

@media  (max-width: 768px){
/*Sidebar*/
  .grid-container{
    grid-template-columns: auto;
  }

  nav{
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    grid-template-rows: auto;
    margin-top: 50px;
  }

  .logo{
    display: none;
  }

  .open {
    width: 200px;
  }

/*-------home section-------*/
  .home {
    background-image: linear-gradient(45deg, rgba(68,68,68,0.7), rgba(68,68,68,0.7)),url("images/backgroundMobile (1).jpg");
}

.typingContainer {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  color:white;
  text-align: center;
}


.typingContainer::after {
  content: '';
  background-color: white;
  display: inline-block;
  width: 1px;
  height: 33px;
  top: 5px;
  margin-left: 0;
  animation: blink 1s infinite;
}
.typingEffect .typed-cursor {
  display:none;
}
/*-------main section-------*/
  main {
    width: 100vw;
  }
/*-------about section-------*/
  .about{
    min-height: 100%;
    grid-template-rows: 70px auto;
  }

  .aboutContainer{
    margin: 5px 15px 20px 15px;
  }

  .aboutIcons{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 30px;
  }


  .aboutBackground:hover{
    background: rgba(81,198,217, 1);
  }

  .aboutBackground:hover .aboutIcon{
    color: white;
  }

  .aboutBackground{
    width: 130px;
    height: 130px;
  }

  .aboutIcon {
    font-size: 50px;
  }

/*-------projects section-------*/

.projects{
    min-height: 100%;
    grid-template-rows: auto;
    width: 100%;
}


.projectsContent{
/*   rgba(255,99,71, 1) */
  display: grid;
  grid-template-columns: auto;
  margin-top: 30px;
}

.project {
  height: 144px;
  width: 240px;
  position:relative;
  margin: 5px auto;
}

.project:last-child{
  margin-bottom: 30px;
}

.project:hover .overlay{
  height: 100%;
}
.project:hover .overlayText{
 height: auto;
}

.project img {
  width: 240px;
  height: 144px;
}

/*-------certificates section-------*/
.certificates{
  min-height: 100%;
  grid-template-rows:auto;
}

.certificatesContent{
  margin-top: 30px;
}


.certificatesColumn{
 flex: 40%;
 max-width: 40%;
 padding-left: 5px;
 padding-right: 5px;
}

/*-------skills section-------*/

.skills{
    min-height: 100%;
    grid-template-rows: 70px auto;
}


.skillCard{
  margin: 30px 0;
  width: 80%;
  height: 80%;
  min-height: 100%;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
}

.skillCard img{
  width: 50px;
  height: 50px;
  margin: 10px;
}
/*-------contacts section-------*/

  .contacts{
    min-height: 300px;
    background: white;
  }

  .socialIcons a{
    margin: 0 5px 15px 5px;
    width: 50px;
    height: 50px;
    position: static;
  }

  .socialIcon {
    position: static;
  }

  .socialIcons a:hover .socialIcon {
    animation-name: none;
  }

/*-------Sticky header-------*/

  .stickyHeader{
    height: 50px;
    width: 100vw;
    position: fixed;
    background: rgba(255,255,255,0.9);
    display: grid;
    grid-template-columns: 50px auto;
    z-index: 1;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  }

  .stickyLogo{
    display:flex;
    justify-content: center;
    align-items: center;
  }


  .burgerNav {
    height:50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

  }

  .burgerNav input {
    opacity: 0;
    width:100%;
    height:100%;
    margin: 0px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  .burgerNav span {
    width:40px;
    height:3px;
    display:block;
    background:rgba(68,68,68,0.8);
    position: absolute;
    top:25px;
    transition: 0.3s;
  }
  .burgerNav span::after {
    content: "";
    width:40px;
    height:3px;
    display:block;
    background:rgba(68,68,68,0.8);
    position: absolute;
    top:-12px;
    transition: 0.3s;
  }
  .burgerNav span::before {
    content: "";
    width:40px;
    height:3px;
    display:block;
    background:rgba(68,68,68,0.8);
    position: absolute;
    top:12px;
    transition: 0.3s;
  }

  .burgerNav input:checked +span{
    background: transparent;
  }
  .burgerNav input:checked +span::after{
    transform: rotate(45deg) translate(8px, 9px);
  }
  .burgerNav input:checked +span::before{
    transform: rotate(-45deg) translate(8px, -9px);
  }




}
