body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border-collapse: collapse;
  font-weight: 100;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 200px auto;
  overflow-x: hidden;
}

/* ---SIDEBAR SECTION ---*/

.sidebar{

}

nav {
  height: 100vh;
  width:200px;
  position:fixed;
  background-color: rga(255,255,255);
  display: grid;
  grid-template-rows: 25% 75%;
  min-height: 800px;
  box-shadow: 1px 0px  2px rgba(66,66,66,0.1);
}

.logo{
  display: grid;
  width: 200px;
  grid-template-rows: 80% 20%;
  align-content: center;
  justify-content: center;
}

.logo img{
  height: 150px;
  margin: auto;
}

.logo span {
  text-align: center;
}

.menu{
  margin-top: 20px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.menu a{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 45px auto;
  align-items: center;
  transition: 0.2s;
}

.menu a:nth-child(1){
  border-left: 0px solid rgb(81,198,217);
}
.menu a:nth-child(2){
  border-left: 0px solid rgb(255,99,71);
}
.menu a:nth-child(3){
  border-left: 0px solid rgb(72,61,139);
}
.menu a:nth-child(4){
  border-left: 0px solid rgb(0,128,128);
}
.menu a:nth-child(5){
  border-left: 0px solid rgb(252,155,25);
}
.menu a:nth-child(6){
  border-left: 0px solid rgb(68,68,68);
}

.menu a:hover{
  background: rgba(66,66,66, 0.1);
  border-width: 3px;
  padding-left: 23px;
}

.menu span {
  color: black;
}

.menuIcon {
  font-size: 25px;
}

.fa-user{
    color:rgb(81,198,217);
}
.fa-graduation-cap{
  color:rgb(72,61,139);
}
.fa-cog{
  color: rgb(255,99,71);
}
.fa-code{
  color:rgb(0,128,128);
}
.fa-envelope{
  color:rgb(252,155,25);
}
.fa-file-alt{
  color:rgb(68,68,68);
}

/* ---MAIN SECTION ---*/

main {
  width: 100%;
}

.home {
  min-height: 100vh;
  background-image: url("images/background (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about{
  background-color: white;
  min-height: 100vh;
  color: white;
  display: grid;
  grid-template-rows: 70px 80vh;
}

.aboutHeader{
  background-color: rgba(81,198,217, 1);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.aboutHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}


.aboutIcons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.aboutContainer{
  color:rgba(81,198,217, 1);
}

.aboutContainer h3{
  font-weight: 500;
}

.aboutBackground{
  text-align: center;
  background: rgba(81,198,217, 1);
  display: flex;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.aboutIcon {
  color: white;
  border-radius: 50%;
  font-size: 70px;
}

.projects{
    min-height: 100vh;
    display:grid;
    grid-template-rows: 70px auto;
}

.projectsHeader{
  background-color: rgba(255,99,71, 1);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.projectsHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}

.projectsContent{
/*   rgba(255,99,71, 1) */
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
}

.project {
  height: 180px;
  width: 300px;
  position:relative;
}

.project:hover .overlay{
  height: 100%;
}
.project:hover .overlayText{
 height: auto;
}

.project img {
  width: 300px;
  height: 180px;
}

.overlay{
  background-color: rgba(255,99,71, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayText{
  color: white;
  text-align: center;
}

.certificatesHeader{
  background-color: rgb(72,61,139);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.certificatesHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}
.certificatesContent{
  /*  rgb(72,61,139) */
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  margin: 20px 0;
}
.certificatesColumn{
 flex: 20%;
 max-width: 20%;
 padding-left: 5px;
 padding-right: 5px;
}

.certificatesColumn img{
  width: 100%;
  border: 1px solid rgb(72,61,139);
}

.skills{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 70px auto;
}

.skillsHeader{
  background-color: rgb(0,128,128);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.skillsHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}

.skillsContent{
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.skillCard{
  background: white;
  border: 1px solid rgb(0,128,128);
  border-radius: 10px;
  width: 80%;
  height: 80%;
  min-height: 400px;
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-content: space-around;
}

.skillCard img{
  width: 100px;
  height: 100px;
}

.contacts{
  min-height: 40vh;
  background: white;
}

.contactsHeader{
  background-color: rgb(252,155,25);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}

.contactsHeader h3{
  color:white;
  font-size: 30px;
  font-weight: 100;
}

.cta{
  text-align: center;
  color: rgb(252,155,25);
  font-size:23px;
}

.cta h4:first-child{
  font-weight: 500;
  text-decoration: underline;

}

.cta h4:last-child{
  font-weight: 100;
}

.socialIcons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons a{
  background: rgb(252,155,25);
  border-radius: 5px;
  margin: 0 5px 15px 5px;
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.socialIcon {
  color: white;
  font-size: 30px;
  position:absolute;
}

@keyframes social{
  0% {top:0px}
  50% {top:40px}
  51% {top:-40px}
  100% {top:0px}
}

.socialIcons a:hover .socialIcon {
  animation-name: social;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

.socialIcons a:hover {
  background: rgba(252,155,25)
}
